<div style="display: flex; justify-content: space-between; align-items: flex-end; margin-top:2em; gap: 2em;">
  <div style="text-align:left;">
    <img src="{{ '/assets/img/ChesusZapataSig.png' | relative_url }}" alt="Chesus Zapata" height="120"><br>
    <span>Aprobado por el Presidente Chesus Zapata </span>
  </div>
  <div style="text-align:right;">
    <img src="{{ '/assets/img/PanchoVillaJrSig.png' | relative_url }}" alt="Pancho Villa Junior" height="120"><br>
    <span>y refrendado por el Canciller Pancho Villa Junior.</span>
  </div>
</div>